/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, sans-serif;
  line-height: 1.6;
  background: #E6F4F1;
  color: #000;
  transition: background 0.3s, color 0.3s;
}
/* --------------------------------- LIGHT ----------------------------------------------------  */
/* Navigation */
header {
  background: #4A8B78;
  color: #fff;
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-weight: bold;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
nav a:hover {
  color: #ffff00;
}

button {
  cursor: pointer;
  border: none;
  background: transparent;
  color: #80237a;
  font-size: 1.2rem;
  transition: color 0.3s;
}

/* Hero Section */
#hero {
  height: 100vh;
  background: linear-gradient(rgba(224, 235, 227, 0.6), rgba(29, 194, 142, 0.6)), center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #4A8B78;
}

#hero h2 {
  font-size: 2.5rem;
}
/* اسمي  */
#hero span {
  color: #1e7f72;
}

/* Button */
.btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #e29552;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background 0.3s, transform 0.2s;
}

.btn:hover {
  background: #e2eb3a; 
  transform: scale(1.05);
}



/* Sections */
section {
  padding: 80px 20px;
  text-align: center;
}
section h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #155642;
  transition: color 0.3s;
}




/* اللون في الوضع الداكن */
.dark-mode section h2 {
  color: #ffcc00;
}






/* Skills */
.skills-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}
.skill {
  padding: 10px 20px;
  background: #e29552;
  color: #fff;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
}
.skill:hover {
  background: #e2eb3a;
  transform: scale(1.05);
}

/* Projects */
.projects-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.project-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(21, 3, 3, 0.1);
  max-width: 300px;
  padding: 15px;
  transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}
.project-card img {
  width: 100%;
  border-radius: 8px;
}
.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #e29552;
  text-decoration: none;
}

.project-card:hover {
  background: #faff95;
  transform: translateY(-8px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Footer */
footer {
  background: #4A8B78;
  color: #fff;
  text-align: center;
  padding: 15px;
}

/* ---------------- DARK MODE ---------------- */
.dark-mode {
  background: #535151;
  color: #f5f5f5;
}

/* Header & Footer */
.dark-mode header {
  background: #535151;
  color: #f5f5f5;
}
.dark-mode footer {
  background: #535151;
  color: #f5f5f5;
}

/* Links */
.dark-mode nav a {
  color: #ffffff;
}
.dark-mode nav a:hover {
  color: #fff;
}

/* Button toggle */
.dark-mode button {
  color: #faff95;
}

/* Hero */
.dark-mode #hero {
  background: linear-gradient(rgba(124, 46, 138, 0.8), rgba(20, 20, 20, 0.8)), center/cover;
  color: #cc10d6;
}
.dark-mode #hero span {
  color: #fff;
}

/* Buttons */
.dark-mode .btn {
  background: #cc10d6;
  color: #fff;
}
.dark-mode .btn:hover {
  background: #faff95;
  color: #e82222;
  transform: scale(1.05);
}

/* Skills */
.dark-mode .skill {
  background: #444;
  color: #cc10d6;
}
.dark-mode .skill:hover {
  background: #faff95;
  color: #535151;
  transform: scale(1.05);
}

/* Projects */
.dark-mode .project-card {
  background: #4a4949;
  color: #fff;
  box-shadow: 0 2px 8px rgba(190, 44, 44, 0.1);
}
.dark-mode .project-card:hover {
  background: #cc10d6;
  transform: translateY(-8px);
  box-shadow: 0 4px 12px rgba(250, 250, 250, 0.2);
}
.dark-mode .project-card a {
  color: #cc10d6;
}